-content_for :exam_content do
  .control-group
    - unless  @my_exam.nil? || @my_exam.score.nil?
      %P= "得分为：#{@my_exam.score}"
  .form-actions.wizard
    .span6.hidden-phone
      %input#user_post(type="hidden")
    .span6
      %ul(style="list-style: none;")
        %li.next
          - unless  @my_exam.nil? || @my_exam.score.nil?
            -if @my_exam.score > 60
              %a.btn.btn-primary(href="#{url_for controller: 'dev_exam',:action => 'kata' }") 进入下一环节
          - else
            %span 每道题一旦提交就无法再次作答,请注意.
            %a.btn.btn-primary(href="#{url_for :action => 'ing' }") 开始答题


=render "/dev_exam/exam"