-content_for :exam_content do
  - unless  @my_exam.nil? || @my_exam.score.nil?
    %P= "得分为：#{@my_exam.score}"    
  - else
    %a.btn.btn-primary(href="#{url_for :action => 'ing' }") 开始答题

=render "/dev_exam/exam"