-content_for :exam_content do
  .control-group
    =render "exam_timer"
  =form_tag "/logic_exam/#{@my_exam.id}/#{@my_exam.my_questions[@my_exam.current_question_index].id}/answer", method:"post", id:"user_post_form" do
    .control-group
      %h2
        =@my_exam.my_questions[@my_exam.current_question_index].name
      =raw page_content_for(@my_exam.my_questions[@my_exam.current_question_index])
    .form-actions.wizard
      .span6.hidden-phone
        %input#user_post(type="hidden" name="user_post")
      .span6
        %ul(style="list-style: none;")
          %li.next
            %button.btn.medium.btn-primary.next(onclick="do_submit()")
              提交答案
  :javascript
    function do_submit(){
       $("#user_post").val(prepare_for_submit());
       $("#user_post_form").submit();
    }

=render "/dev_exam/exam"