%h1#page-header 精益招聘 > 程序员
.fluid-container
  .alert.adjusted.alert-info
    %button.close{"data-dismiss" => "alert"} ×
    %i.cus-exclamation
    %strong Info!
    dada
  / widget grid
  %section#widget-grid
    / row-fluid
    .row-fluid
      %article.span12
        / new widget
        #widget-id-0.jarviswidget(data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false")
          %header
            %h2 程序员测试
          / wrap div
          %div
            .inner-spacer
              / content goes here
              .themed
                #wizard_name
                  / wizard steps
                  =render "/dev_exam/exam_steps_progress"
                  .tab-content
                    / step 1
                    =yield :exam_content