#theme-switcher.btn-toolbar
  / search and log off button for phone devices
  .btn-group.pull-right.visible-phone
    %a.btn.btn-inverse.btn-small{:href => "javascript:void(0)"}
      %i.icon-search
    %a.btn.btn-inverse.btn-small{:href => "/JarvisAdmin_v1.9.3/login.html"}
      %i.icon-off
  / end buttons for phone device
  / dropdown mini-inbox
  .btn-group
    / new mail ticker
    %a.btn.btn-small.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
      -#%span.mail-sticker 3
      %i.cus-email
    / end new mail ticker
    / email lists
    .dropdown-menu.toolbar.pull-right
      %h3 Inbox
      %ul#mailbox-slimscroll-js.mailbox
        %li
          %a.unread{:href => "javascript:void(0)"}
            %img{:alt => "important mail", :src => "/JarvisAdmin_v1.9.3/img/email-unread.png"}/
            From: 客服
            %i.icon-paper-clip
            %span Hello, Message system is preparing

      %a#go-to-inbox{:href => "javascript:void(0);"}
        Go to Inbox
        %i.icon-double-angle-right
    / end email lists
  / end dropdown mini-inbox
  / Tasks
  / end Tasks
  / theme dropdown
  .btn-group.hidden-phone
    %a#reset-widget.btn.btn-small.btn-inverse{:href => "javascript:void(0)"}
      %i.icon-refresh

  / end theme dropdown
/ end demo theme switcher