-content_for :exam_content do
  -if !@my_posted_kata
    %table.table
      %thead
        %tr
          %th
            题目名称
          %th
            URL
          %th
            任选一个
      %tbody
        - @katas.each do |kata|
          %tr
            %td=kata.name
            %td=kata.url
            %td
              %a.btn(href="/dev_exam/choose_a_kata/#{kata.id}") 我要做这道题
  -else
    =form_tag "/dev_exam/finish_kata", method:"post", id:"my_posted_kata_form" do
      .control-group
        %label.control-label 我的GitHub URL:
        .controls
          %input#my_posted_kata_url.span12(type="text" name="my_posted_kata[url]")
          %input#my_posted_kata.span12(type="hidden" name="id" value="#{@my_posted_kata.id}")
      .form-actions.wizard
        .span6.hidden-phone
          %input#user_post(type="hidden")
        .span6
          %ul(style="list-style: none;")
            %li.next
              %button.btn-primary(type="submit" class="btn" onclick="do_submit()")    提交

  :javascript
    function do_submit(){
    }
=render "exam"