%p#notice= notice

%p
  %b Name:
  = @exam_paper.name
%ul
  - @exam_paper.question_templates.each do |question|
    %li
      =question.name



= link_to 'Edit', edit_exam_paper_path(@exam_paper)
\|
= link_to 'Back', exam_papers_path
