p.
  存在一个活动列表和一个创建活动页面
  活动列表页面有一个＂创建活动＂按钮。
  创建活动页面有一个表单，表单里有一个＂创建＂按钮。
  创建活动页面有一个＂返回＂按钮
  点击＂创建活动＂按钮进入创建活动页面。
  点击＂返回＂按钮返回活动列表页面
  点击＂创建＂按钮，创建一个新活动并返回活动列表页面
  要求，无论什么时候进入创建活动页面，表单都是空的
  问，如果你写程序实现上述的功能，同时追求最好的可维护性,应该在什么时候清空表单