.question_content= content
.control-group#answer1
  %label.control-label 时间是?
  .controls
    .row
      %input#hour_answer(type="number")
      %span.span2 :
      %input#minute_answer(type="number")

:javascript
  function prepare_for_submit()
  {
    var result = [];
    result.push($("#hour_answer").val());
    result.push($("#minute_answer").val());
    return result.join(",");
  }