.question_content= content
-choices = ["甲","乙","丙","丁","戊","己", "庚", "辛", "壬"]
.control-group#answer1
  %label.control-label 空心的圆形
  .controls
    -choices.each do |name|
      .checker
        %span
          %input(type="checkbox" value="#{name}")
      =name
.control-group#answer2
  %label.control-label 塑料的绿色方形
    .controls
      -choices.each do |name|
        .checker
          %span
            %input(type="checkbox" value="#{name}")
        =name
.control-group#answer3
  %label.control-label 金属的实心三角形
    .controls
      -choices.each do |name|
        .checker
          %span
            %input(type="checkbox" value="#{name}")
        =name

:javascript
  var choices = ["甲","乙","丙","丁","戊","己", "庚", "辛", "壬"]
  function prepare_for_submit()
  {
    var result = [];
    result.push("1");
    $("#answer1 input[type='checkbox']:checked").each(function(index, item){
      result.push(item);
    })
    result.push("2");
    $("#answer2 input[type='checkbox']:checked").each(function(index, item){
      result.push(item);
    })
    result.push("3");
    $("#answer3 input[type='checkbox']:checked").each(function(index, item){
      result.push(item);
    })
    return result.join(",");
  }