.question_content= content
.question_candidate_answers
  %select(name="user_post")
    %option(value="点创建活动按钮") 点创建活动按钮
    %option(value="点创建按钮时") 点创建按钮时
    %option(value="点返回按钮时") 点返回按钮时
    %option(value="点返回按钮时 或 点创建活动按钮 或 点创建按钮时") 点返回按钮时 或 点创建活动按钮 或 点创建按钮时
    %option(value="点返回按钮时 或 点创建活动按钮") 点返回按钮时 或 点创建活动按钮
    %option(value="点返回按钮时 或 点创建按钮时") 点返回按钮时 或 点创建按钮时
    %option(value="点创建活动按钮 或 点创建按钮时") 点创建活动按钮 或 点创建按钮时
    %option(value="点返回按钮时 和 点创建活动按钮 和 点创建按钮时") 点返回按钮时 和 点创建活动按钮 和 点创建按钮时
    %option(value="点返回按钮时 和 点创建活动按钮") 点返回按钮时 和 点创建活动按钮
    %option(value="点返回按钮时 和 点创建按钮时") 点返回按钮时 和 点创建按钮时