!!! 5
%html
  %head
    %title Admin
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")


    = csrf_meta_tags

    %link(rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap-theme.min.css")

    %script(lang="javascript" type="text/javascript" src="/lib/jquery-1.11.1.min.js")
    %script(lang="javascript" type="text/javascript" src="/bootstrap3/js/bootstrap.min.js")

%body
  .navbar.navbar-default.navbar-static-top(role="navigation")
    .container
      .navbar-header
        %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#")招聘擂台-管理界面
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.active
            %a(href="#") 首页
          %li
            %a(href="/admin/users") 用户管理
          %li
            %a(href="/exam_papers") 考卷管理
          %li
            %a(href="/admin/question_templates") 试题模版管理
          %li
            %a(href="/admin/logic_exam/result") 招聘成绩
  = yield
