!!! 5
%html
  %head
    %title Admin
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")


    = csrf_meta_tags

    %link(rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap-theme.min.css")

    %script(lang="javascript" type="text/javascript" src="/lib/jquery-1.11.1.min.js")
    %script(lang="javascript" type="text/javascript" src="/bootstrap/js/bootstrap.min.js")

%body

  = yield
